anthropic
openai
boto3
dspy
google-genai
haystack-ai
langchain
langgraph
llama_index
llama-index-callbacks-opik
langchain_openai
ragas
aiohttp>=3.13.3 # not directly required, pinned by Snyk to avoid a vulnerability
